.container
  .col-md-6
    = form_for(@joke) do |f|
      .field.form-group
        = f.text_field :content, placeholder: 'Content', class: "form-control", required: true
        
      .actions
        = f.submit "Edit", class: "btn btn-default"